@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #f97316;
  --primary-200: #dd5a00;
  --dark-100: #2b2b2b;
  --dark-200: #585858;
  --success: #dcfce7;
  --error: #fee2e2;
  --loading: #dbeafe;
}

@layer components {
  .container {
    @apply mx-auto;
  }
}

#pdf_cont::-webkit-scrollbar {
  display: none;
}
#pdf_cont {
  font-family: var(--font-dejaVuSans);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
