@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto;
  }
}

#pdf_cont::-webkit-scrollbar {
  display: none;
}
#pdf_cont {
  font-family: var(--font-dejaVuSans);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
